.mains {
  height: 95%;
}

.mains2 {
  height: 90%;
}
.mainVH {
  height: 81vh;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.form {
  margin: 0 auto;
}

.paddInput {
  padding: 0 0.75rem;
}

#paddForm {
  padding: 0;
}

.paddingInput {
  margin: 0 !important;
}

.section_Color {
  background: #f0eded;
  border-radius: 10px 10px 0 0;
}

.Back_Color {
  background: #cccccc;
}

.mainVH_DetCargo {
  height: 87vh;
}

.mainVH_EdtFunc {
  height: 90vh;
}
